<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.1)), url(<%= asset_path(image) %>);">
  <div class="container text-center">
    <h1><%= title %></h1>
    <p><%= sub_title %></p>
    <a class="btn btn-gradient shadow" href="<%= button_link %>">
      <%= button_text %>
    </a>
  </div>
</div>
