<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container">
    <div class="d-flex justify-content-between w-100">
      <div>
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag asset_path('strive.png') %>
        <% end %>
      </div>
      <div class="collapse navbar-collapse flex-grow-0">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <% if user_signed_in? %>
            <li class="nav-item <%= active_class(user_goals_path) || active_class(root_path) %>">
              <%= link_to "Home", user_goals_path, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item <%= active_class(root_path) %>">
              <%= link_to "Home", root_path, class: "nav-link" %>
            </li>
          <% end %>
          <li class="nav-item <%= active_class(organizations_path) %>">
            <%= link_to "Organization", organizations_path, class: "nav-link" %>
          </li>
          <li class="nav-item <%= active_class(teams_path) %>">
            <%= link_to "Teams", teams_path, class: "nav-link" %>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <% if current_user.avatar.attached? %>
                <%= image_tag cl_image_path(current_user.avatar.key, height: 40, width: 40, crop: :thumb, gravity: :face), class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% else %>
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% end %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Profile", "#", class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item <%= active_class(new_user_session_path) %>">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
      <button class="navbar-toggler ml-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</nav>
