<% if current_user.user_organization %>
  <%= render "shared/organisms/goals", title: "#{current_user.user_organization.organization.name} Goals", completed_goals_num: @organization_goals_completed.length, total_goals_num:  @organization_goals.length, completed_goals: @organization_goals_completed, in_progress_goals: @organization_goals_in_progress , goal_model: OrganizationGoal.new, goal_completed_model: OrganizationGoalCompleted.new, team_id: nil %>
  <h2 class="text-center mt-5">Statistics</h2>
  <div class="text-center">Number of Teams: <%= current_user.user_organization.organization.teams.length %></div>
  <div class="text-center">Number of People: <%= current_user.user_organization.organization.user_organizations.length %></div>
<% else %>
  <h1 class="text-center mt-3">Join an Organization</h1>
  <%= simple_form_for(Organization.new) do |f| %>
    <%= f.input :name %>
    <%= f.submit %>
  <% end %>
  <% @organizations.each do |organization| %>
    <%= organization.name %>
  <% end %>
<% end %>
